.vscode/
*.sqlite
.pytest_cache/
*.db
.idea/
logs/
*.py[cod]
.venv/
.DS_Store
.coverage
env/
*$py.class
evo_env/
.env
htmlcov/
venv/
__pycache__/
*.log
convo.md
EvoCode_Plan_and_Tech_Stack.docx
Foundations_Progress_Report.md
plan.md
checklist.md
api_map.txt
evo.md